.header{
    height: 50px;
    background-color: rgb(3, 3, 56);
    padding-left: 10px;
    color: white;
}

.row{
    height: px;
}
.bg-default{
    height: 75px;
    text-align: center;
    border-style: initial;
    border-radius:5px;
    
}
.row.col-md-3{
    padding-left: 10px;
    color: blue;
}
.list{
    list-style-type: circle;
}
.video{
    padding-right: 50px;
    padding-top: 20px;
}

.glyphicon glyphicon-home{
    color: aqua;
}
li{
    padding-top: 10px;
    color: black;
}
ul{
 padding-left: 100px;
 font-size: medium;
}
.elt1{
    color: blue;
}
.elt2{
    color: blue;
}
.textelt{
margin-top: 10px;
margin-left: 20px;


}
.form{
    margin-top: 3px;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.rowname{
    margin-top: 10px;
    color: white;
}
.col-md-1{
    margin-top: 10px;
    margin-left: 20px;
}
.country{
    margin-top: 30px;
    margin-bottom: 15px;
    color: white;

    text-align: center;
    text-align: center;
    padding-top: 0px;
}
.btn btn-default{
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.langue{
    color: white;

}
.col-md-10{
    color: white;
    padding-right: 20px;
    padding-top: 0px;
}
.nav1.li{
    margin-left: 25px;
    list-style-type: none;
}
.best{
    color: rgb(52, 210, 238);
    text-align: center;
}
.navbar{
    background-color: rgb(184, 197, 197);
}
.subs{
    color: rgb(52, 210, 238);
    text-align: center;
}
.connect{
    text-align: center;
    border-style: groove;
    border-color: rgb(52, 210, 238);

}
h1{
    font-size: 17px;

}
.comment{
    font-size: 20px;
}
.btn-info{
    float: right;
}
.col-md-10{
    color:black
}
.name{
    color: white;
    
}
.input-group{
    margin-top: 10px;
}
#round{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
ul{
    text-decoration: none;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .drop{
      border-top-right-radius: 10px;

  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  ul{
    list-style-type: none;
  }
