.sncd2{
    padding-top: 25px;
    padding-left: 50px;
}
.frst1{
    padding-left: 50px;
    padding-top: 10px;
}
.idx1{
    color: blue;
    font-size: 25px;
}
.idx2{
    color: blue;
    font-size: 25px; 
    margin-top: 25px ;
    margin-left: 50px;
}
